.container-quem-somos {
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-around;
    

    background-image: url(../../../img/scholae_background2.png);
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: 100%;
    
}

.text-quem-somos {
    background: rgba(151, 172, 96, 0.842);
    height: 400px;
    width: 620px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 40px;
    border-radius: 18px;
    
    font: Arial, Helvetica, sans-serif;
}

.text-quem-somos h1 {
    display: block;
    text-align: left;
    font-size: 42px;
    margin-left: 12px;
    margin-top: 32px;
    color: rgb(41, 40, 112);
}

.text-quem-somos p {
    display: block;
    text-align: left;
    margin-top: 12px;
    margin-left: 12px;
    margin-right: 3px;
    font-size: 22px;
    color: rgb(87, 72, 72); 
}

.container-image {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    
}

.image {
    height: 400px;
    border-radius: 22px;
}