.aws-btn {

    --slider-height-percentage: 48%;
    --slider-transition-duration: 767ms;
    --organic-arrow-thickness: 8px;
    --organic-arrow-border-radius: 22px;
    --organic-arrow-height: 15px;
    --organic-arrow-color: #dd720d;
    --control-button-width: 10%;
    --control-button-height: 25%;
    --control-button-background: transparent;
    --control-bullet-color: #fcd0a8;
    --control-bullet-active-color: #d6b18f;
    --loader-bar-color: #28c700;
    --loader-bar-height: 6px;
    }