.container-wallpaper {
    height: 765px;
    width: 100%;
    background-image: url(../../../img/mainwallpaper.jpg);
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: 100%;
}

@media only screen and (max-width: 870px) {
    .container-wallpaper {
        height: 320px;
    }
}