.container-wallpaper {
    height: 700px;
    width: 100%;
    background-image: url(../../../img/wallpaper.jpg);
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: 100%;
}