.container-wallpaper {
    height: 700px;
    width: 100%;
    background-image: url(../../../img/roboo.jpg);
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: 100%;
}