.container-cont {
    width: 100%;
    height: 20%;
    background: rgb(50, 106, 228);


    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    font-family: cursive;
    
}

@media screen and (max-width: 580px) {
    .container-cont {
        flex-direction: column;
        height: 45%;
    }

}

.container-study {
    
    height: 250px;
    width: 250px;


    display: flex;
    flex-direction: column;
    align-items: center;
}

.study-logo {
    
    
}
    
.study-logo img {
    height: 100px;
}

.study-text {
    text-align: center;
    color: white;
}

.container-school {
    
    height: 250px;
    width: 250px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.school-logo {
    
}

.school-logo img {
    height: 100px;
}

.school-text {
    text-align: center;
    color: white;
}

.container-training {
    
    height: 250px;
    width: 250px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.traning-logo {

}

.training-logo img {
    height: 100px;
}

.training-text {
    text-align: center;
    color: white;
}

.container-teacher {
    
    height: 250px;
    width: 250px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.teacher-logo {

}

.teacher-logo img {
    height: 100px;
}

.teacher-text {
    text-align: center;
    color: white;
}


.title-number {
    font-size: 46px;
}


.text-main {
    font-size: 22px;
}


