.main-header {
    height: 80px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: #1b113b80;
  
}

.header-content {
    width: 100%;
    margin: 0 auto;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}


.ul-nav {
    list-style: none;
}

.ul-nav li {
    display: inline-block;
}

.ul-nav li a {
    color: rgba(255, 255, 255, 0.692);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 22px;
    font-family: sans-serif   ;
    
    transition: color 0.2s linear;
    margin-left: 8px;
    
}


.ul-nav li a:hover{
    color: rgb(162, 218, 10);
}

.header-logo {
    box-sizing: border-box;
    
}
.img-logo{
    height: 80px;
}


.social-bar {
    box-sizing: border-box;
    
}

.logo-facebook {
    width: 42px;
}

.logo-instagram {
    width: 42px;
    margin-left: 12px;
}

.logo-github {
    width: 42px;
    margin-left: 12px;
}

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    
}

#toggle {
    
}



@media only screen and (max-width: 870px) {
    

    .main-header {
        height: 280px;
    }

    .main-nav {
        text-align: center;
        width: 100%;
        
        
    }

    .main-nav li {
        display: block;
    }

    .ul-nav {
        margin: 200px 0 0 0;
        
    }

    .main-header {
        position: absolute;
    }

    


}



